.card {
    margin: 20px;
    background-color: #95A0A7;
    width: 350px;
    border-radius: 10px;
    margin: 20px;
    padding: 18px;
    box-shadow: 10px 10px 10px #888888;

}

.rating {
    color: black;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.text {
    color: black;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}